<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.superwanttoborrow">

    <!--网络请求权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--获取通讯录权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--必要权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--采集传感器信息必要权限-->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <!--可选权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_SMS"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:allowBackup">

        <activity android:name=".ui.first.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.realname.RealNameActivity"/>
        <activity android:name=".ui.register.RegisterActivity"/>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity android:name=".ui.borrowrecord.BorrowRecordActivity"/>
        <activity android:name=".ui.changebank.ChangeBankActivity"/>
        <activity android:name=".ui.help.HelpActivity"/>
        <activity android:name=".ui.safesetting.SafeSettingActivity"/>
        <activity android:name=".ui.changepassword.ChangePasswordActivity"/>
        <activity android:name=".ui.wanttorepay.WantToRepayActivity"/>
        <activity android:name=".ui.wanttoextension.WantToExtensionActivity"/>
        <activity android:name=".ui.repayplan.RepayPlanActivity"/>
        <activity android:name=".ui.repayrecord.RepayRecordActivity"/>
        <activity android:name=".ui.repaydetail.RepayDetailActivity"/>
        <activity android:name=".ui.forgetpassword.ForgetPasswordActivity"/>
        <activity android:name=".ui.basicinformation.BasicInformationActivity"/>
        <activity android:name=".ui.contacts.ContactsActivity"/>
        <activity android:name=".ui.face.FaceActivity"/>
        <activity android:name=".ui.bank.BankActivity"/>
        <activity android:name=".ui.progressquery.ProgressQueryActivity"/>
        <activity android:name=".ui.message.MessageActivity"/>
        <activity android:name=".ui.systemmessage.SystemMessageActivity"/>
        <activity android:name=".ui.bindbank.BindBankActivity"/>


        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/>

        <meta-data
            android:name="KZGgMdjMGTZaTjOGM0BgIV0OwfYWn1o0"
            android:value="你的 key"/>

        <!--//service组件，固定配置-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.superwanttoborrow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>


</manifest>